.persona {
  display: flex;
}


.progress {
    margin-top: 80px;
    margin-left: 50px;
    width: 300px;
    height: 20px;
    background-color: #ddd;
    border-radius: 4px;
  }
  
  .barra-vida-hero {
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
  }
  .barra-vida-enemy {
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
  }

  .area-pelea {
    width: 900px;
    height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .area-pelea img {
    width: 100px;
    height: auto;
  }

  .instrucciones {
    margin-left: 100px;
    margin-top: 20px;
  }

  .vida-jugadores {
    margin-left: 100px;
    display: flex;
  }
  .vida-jugadores h4 {
    text-align: center;
  }

  .heroe{
    position: absolute;
  }
  .enemigo{
    position: absolute;
  }
 
  

